AZURE_STORAGE_CONNECTION_STRING=...

AFLO_BACKEND_TYPE=azure-blob

AFLO_CONTAINER_NAME=...

AFLO_PATH=litellm-metering
AFLO_HOSTED_ENV=prod
AFLO_JSON_LOGS=false
AFLO_DEBUG=false
AFLO_BATCH_SIZE=100
AFLO_SEND_OBJECT_METADATA=true
AFLO_FLUSH_INTERVAL=300 # 5 minutes
AFLO_MAX_BUFFER_SIZE=10000 # optional
