AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=...

AFLO_BACKEND_TYPE=s3

AFLO_BUCKET_NAME=...

AFLO_PATH=litellm-metering
AFLO_HOSTED_ENV=prod
AFLO_JSON_LOGS=false
AFLO_DEBUG=false
AFLO_BATCH_SIZE=100
AFLO_SEND_OBJECT_METADATA=true
AFLO_FLUSH_INTERVAL=300 # 5 minutes
AFLO_MAX_BUFFER_SIZE=10000 # optional
